button {
    background-color: #1EB6E7;
}


#bottom {
    position: absolute;
    bottom:0;
    right:0;
}

button {
    padding: 15px 32px;
    display: inline-block
    font-size: 16px;
}

body {
    background-image: url("https://2static1.fjcdn.com/comments/I+really+like+nuka+world+it+feels+like+bethesda+designed+_6342f950a5256887e67cfff418179023.jpg");
}

